*{
    padding: 0;
    margin: 0;
}

.clr
{
    clear: both;
}

.navbara img
{
width: 80%;
}

.home
{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/barber-15.jpg');
    height: 100vh;
    background-size:cover;
    color: white;
    overflow: auto;
}


.fixbut
{
    width: 6vh;
    height: 12vh;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: white;
    text-align: center;
    padding: 2vh 0.75vh 1.25vh;
    position: fixed;
    top: 25vh;
    right: 0;
    border: whitesmoke 1px solid;
}

.fixbut i
{
    color: grey;
    padding-bottom: 1.5vh;
    font-size: 2.65vh;


}

.fixbut i:hover
{
    color:cornflowerblue;

}


.b1
{
    background-color:rgb(173,151,104);
    color: white;
    transition: 0.5s ;
    border: hidden;
    padding: 2vh 4vh;
    border-radius: 4px;
    margin-right: 0.8vh;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    
}
.b1:hover
{
    background-color: rgb(255,255,255);
    color: black;
}

.content 
{
    width: 30%;
    float: left;
    margin-left: 8%;
    margin-top: 15%;

}

.content h2
{
    font-family: 'Lora', serif;
    font-size: 74px;
    padding-bottom: 3vh;
    color: white;
    font-weight: 100;

}
.content h3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.92);
    padding-bottom: 3vh;
    line-height: 41px;

}

.child i
{
    color: white;
    background: rgb(173,151,104);
    border-radius: 50%;
    border: 1px solid rgb(173,151,104);
    font-size: 34px;
    padding: 25px 23px;
}
.two .child h3
{
    color: rgb(173,151,104);
    font-weight: 400;
    padding: 2vh 0vh;
    font-size: 17px;
}
.two .child p
{
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    color: #888888;

}
.child
{
    text-align: center;
    width: 25%;
    margin:10vh 0vh;
    float: left;
}
.three
{
    background-color: rgb(248,248,248);
}



.big
{
    width: 100%;
    padding-bottom: 3vh;
    
}

.contenta
{
    float: left;
    width: 60%;
}

.three img
{
    float: left;
    width: 40%;
    
}
.three h2
{
    color: rgb(173,151,104);
    font-size: 32px;
    font-family: 'Lora', serif;
    padding-bottom: 2vh;

}
.three h3
{
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 16px;
    font-weight: 800;
    color: #535353;
    padding-bottom: 2vh;
}
.three .containera
{
    padding: 12vh 0vh;
}

.cont
{
    width: 90%;
}


.small
{
    width: 50%;
    float: left;
    padding-bottom: 2vh;
}

.small h2
{
    font-size: 17px;
}
.small h3
{
    font-size: 15px;
}

.four h2
{
    color: rgb(173,151,104);
    font-size: 32px;
    font-family: 'Lora', serif;
    padding-bottom: 2vh;
    display: inline-block;

}
.four h3
{
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 17px;
    font-weight: 800;
    color: #535353;
    padding-bottom: 5vh;
}

.headera
{
    text-align: center;
}

.four .childs
{
    width: 33.333%;
    padding-left: 6vh;
    padding-bottom: 3vh;
    position: relative;
    float: left;
    margin: auto;
    
}
.four .childs i
{
    font-size: 20px;
    position: absolute;
    top: 0.5vh;
    left: 0;
    color: gray;
}

.four .childs h2
{
    color: rgb(173,151,104);
    font-size: 17px;
    font-family: 'Lora', serif;
    padding:0;
    display: inline-block;
}

.four .childs h3
{
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
    font-weight: 800;
    color: #535353;
    padding-bottom: 2vh;
}

.four .containera
{
    padding: 10vh 0vh;
}




.five
{
    background-color: rgb(248,248,248);
}

.containera
{
    width: 84%;
    margin: auto;
}



.five .mo7twa
{
    float: left;
    width: 50%;
    padding-top: 7vh;
    padding-right: 4vh;

}

.five .map iframe
{

    float: left;

}

.contain
{
    width: 85%;
    margin: auto;
    padding: 12vh 0vh;
}


.five .mo7twa h2
{
    color: rgb(173,151,104);
    font-size: 32px;
    line-height: 44px;
    font-family: 'Lora', serif;
    padding:0;
    padding-bottom: 3vh;
    display: inline-block;
}

.five .mo7twa h5
{
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 15px;
    font-weight: 800;
    color: #535353;
    padding-bottom: 2vh;
}

.five .mo7twa table i
{
    color: white;
    background: rgb(173,151,104);
    border-radius: 50%;
    border: 1px solid rgb(173,151,104);
    font-size: 18px;
    padding: 8px;
    
}
.five .mo7twa table p
{
    padding-top:2vh;
    padding-left: 2vh;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 15px;
    font-weight: 800;
    color: #535353;
}



.six
{
    background-color: #403d38;
}

.six .item h4
{
    font-family: 'Lora', serif;
    font-size: 17px;
    line-height: 23px;
    color: white;
    padding-bottom: 1vh;

}

.six .item p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #969696;
    padding: 2vh 0 0;

}

.six .item
{
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 1vh;
    transition: all 0.5s;


}

.six  .containera
{
    padding: 8vh 0vh;
}

.tablee
{

margin-top: 3vh;
}

.six .item table i
{
    color: #969696;
    line-height: 10px;
}
.six .item table p
{
padding-left: 1vh;
font-size: 14px;
line-height: 10px;
}

.line
{
    position: relative;
    width: 100%;
}

table
{
    width: 100%;
}

.line::after
{
    content: "";
    width: 95%;
    height: 1px;
    position: absolute;
    background-color: RGB(74, 70, 65);
    top: 100%;
    left: 0;

}

.six .item1 table p
{
    line-height: 24px;
}


.six .item1 table i
{
    line-height: 24px;

}


.sev
{
    background-color: #35332f;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;

}

.sev p
{
    color: RGB(144, 144, 144);
    font-family: 'Open Sans', sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
}



.icons .face i
{
    color: #8b8a86;
    background-color: #474541;
    margin-right:1vh;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 50%;
    font-size: 24px;
    padding: 18px 22px;
    transition: all 0.5s;

}

.icons .face:hover i
{
    color: #ffffff;
    background-color: #4267B2;

    
}


.icons .insta i
{
    color: #8b8a86;
    background-color: #474541;
    margin-right:1vh;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 50%;
    font-size: 24px;
    padding: 18px;
    transition: all 0.5s;


}

.icons .insta:hover i
{
    color: white;
    background-color: #4c68d7;


}

.icons .tumb i
{
    color: #8b8a86;
    background-color: #474541;
    margin-right:1vh;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 50%;
    font-size: 24px;
    padding: 18px 22px;
}

.icons .tumb:hover i
{
    color: white;
    background-color: #35465C;
}





.icons .tweet i
{
    color: #8b8a86;
    background-color: #474541;
    margin-right:1vh;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 50%;
    font-size: 24px;
    padding: 18px;
}

.icons .tweet:hover i
{
    color: white;
    background-color: rgb(29, 161, 242);
}



.face
{
    float: left;
    
}
.insta
{
    float: left;
}

.tweet
{
    float: left;
}

.tumb
{
    float: left;
}

.icons
{

    justify-content: center;
    display: flex;
    margin-bottom: 2%;
    

}

.links:hover p
{
    color: white;
}


.last
{
    background-image: url(../images/download.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

}